{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=IE9,Chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            定制指标公式
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Water.css' %}">
    </head>

    <body>
        <div style="text-align: center;">
            <label style="font-size: 18px;">公式的定制：直线方程式 + 多项式方程式</label>
        </div>
        
        <div class="row" style="padding-top: 30px;">
            <div class="col-md-3"></div>
            <!-- 定制指标公式 - 相关信息 -->
            <div class="col-md-6">
                <div class="panel" style="border: 1px solid #e0e0e0;">
                    <div class="panel-heading">
                        <label>制定直线方程式和多项式方程式：</label>
                        <button id="btn_save" class="btn btn-sm btn-success pull-right" type="button">保存设置</button>
                    </div>
                    <div style="text-align: center;padding: 5px 0;background-color: #f0f0f0;">
                        <input id="newBtn" class="btn btn-sm btn-success" type="button" value="添加直线方程">
                        <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#Add_curve" role="button">添加曲线方程</a>
                    </div>
                    <div class="panel-body">
                        <table id="IndicatorFormula_modify">
                            <tr></tr>
                        </table> 
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="panel" style="border: 1px solid #e0e0e0;">
                    <div class="panel-heading">
                        <label>当前指标公式信息：</label>
                    </div>
                    <div class="panel-body">
                        <table class="" style="margin: 5px;">
                            {% for expression in expressions_list %}
                                <tr style="font-size: 15px;">
                                    <td><span class="glyphicon glyphicon-hand-right"></span> 区间：[{{ expression.x_start }} , {{ expression.x_end }}]</td>
                                    <td width="5%"></td>
                                    <td>表达式：{{expression.expression}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="LineContainer_test"></div>
            </div>
        </div>
        <br>

        <div class="modal fade" id="Add_curve">
            <div class="modal-dialog" style="width:300px;">
                <div class="modal-content">
                    <div class="modal-body">
                        请输入曲线最高次指数：<input type="text" id="curve_num" style="width:60px;">
                        <input id="newBtn_curve" class="btn-sm btn-success pull-right" type="button" value="确定">
                    </div>
                </div>
            </div>  
        </div>

        <script type="text/javascript" src = "{% static 'js/jquery.min.js' %}" ></script>
        <script type="text/javascript" src = "{% static 'js/bootstrap.js' %}" ></script>
        <script type="text/javascript" src = "{% static 'js/highcharts.js' %}" ></script>

        <script>
            function post(URL, PARAMS) {        
                var temp = document.createElement("form");        
                temp.action = URL.toString();
                temp.method = "post";        
                temp.style.display = "none";        
                for (var x in PARAMS) {        
                  var opt = document.createElement("textarea");        
                  opt.name = x;        
                  opt.value = PARAMS[x];
                  console.log(opt.value);
                  temp.appendChild(opt);
                }        
                // alert("xx");
                document.body.appendChild(temp);        
                temp.submit();        
                return temp;
            }

            function IsNum(s)
            {
                if(s.toLowerCase() == "inf"){
                    return true;
                }

                if (s!=null && s!="")
                {
                    return !isNaN(s);
                }
                return false;
            }


            function getDel(select_remove){
                $(select_remove).parent().parent().remove();
            }

            function getDelCurve(delete_num){
                delete_num = parseInt(delete_num);
                for(var i = 0; i <= delete_num; i++){
                    delete_id = "curveID_" + i.toString();
                    console.log(delete_id);
                    $("tr[id=" + delete_id + "]").remove();
                }
            }

            $(document).ready(function() {
                var count = 0;
                var line_num = [];

                $("#newBtn").bind("click", function(){
                    // console.log(this.id)
                    // console.log(count);
                    var seq = count.toString();
                    // console.log(seq);
                    line_num.push(1);
                    
                    $str = ""
                    $str += "<tr>";
                    $str += "<td>";
                    $str += "起始点：&nbsp;x_0 = <input id=\"x" + seq + "\" name=\"input_x\" type=\"text\" style=\"width: 40px;\">&nbsp;&nbsp;";
                    $str += "截止点：&nbsp;x_1 = <input id=\"x" + seq + "\" name=\"input_x_1\" type=\"text\" style=\"width: 40px;\">&nbsp;&nbsp;";
                    $str += "<td>";
                    $str += "直线斜率 = <input id=\"k" + seq + "\" name=\"input_k\" type=\"text\" style=\"width: 40px;\">";
                    $str += "</td>";
                    $str += "<td>";
                    $str += "直线偏置 = <input id=\"y" + seq + "\" name=\"input_b\" type=\"text\" style=\"width: 40px;\">";
                    $str += "</td>";
                    $str += "<td width=\"10%\"><input id=\"deleteLine_" + count + "\" class = \"btn btn-sm btn-success\" type=\"button\" value=\"删除表达式\" onClick='getDel(this)'></td>";
                    $str += "</tr>";

                    $("#IndicatorFormula_modify").append($str);

                    count++;
                }); 

                // 曲线部分
                $("#newBtn_curve").bind("click", function(){
                    var curve_num = $("#curve_num").val();
                    // console.log(curve_num);
                    if(curve_num > 0){
                        $('#Add_curve').modal('hide');

                        line_num.push(parseInt(curve_num));
                        var count_curve = 0;

                        var seq = count.toString();

                        var curve_length = curve_num;
                        var seq_curve = count_curve.toString();

                        $str = ""
                        $str += "<tr style='color:#960000;' id='curveID_0'>";
                        $str += "<td>";
                        $str += "起始点：&nbsp;x_0 = <input id=\"x" + seq + "\" name=\"input_x\" type=\"text\" style=\"width: 40px;\">&nbsp;&nbsp;";
                        $str += "截止点：&nbsp;x_1 = <input id=\"x" + seq + "\" name=\"input_x_1\" type=\"text\" style=\"width: 40px;\">&nbsp;&nbsp;";
                        $str += "<td>";
                        $str += "曲线系数 = <input id= coefficient_" + curve_length.toString() + " name=\"input_k\"" + " type=\"text\" style=\"width: 40px;\">&nbsp;&nbsp;" + "x^" + curve_length;
                        $str += "</td><td></td>";
                        $str += "<td width=\"10%\"><input id=\"deleteLine_" + count_curve + "\" class = \"btn btn-sm btn-success\" type=\"button\" value=\"删除表达式\" onClick='getDelCurve(" + curve_num.toString() + ")'></td>";
                        $str += "</tr>";

                        $("#IndicatorFormula_modify").append($str);
                        count_curve++;

                        for(var i = count_curve; i <= curve_length; i++){
                            var seq_curve = i.toString();
                            var curveID = 'curveID_' + i.toString();
                            var curve_tr_content = "style = 'color:#960000;' id = " + curveID;
                            $str = ""
                            $str += "<tr " + curve_tr_content + ">";
                            $str += "<td></td>";
                            $str += "<td>";
                            if ((curve_length - i) != 0)
                            {
                                $str += "曲线系数 = <input id= coefficient_" + (curve_length - i).toString() + " name=\"input_k\"" + " type=\"text\" style=\"width: 40px;\">&nbsp;&nbsp;" + "x^" + (curve_length - i);
                            }
                            else
                            {
                                $str += "曲线偏置 = <input id=\"y" + seq + "\" name=\"input_b\" type=\"text\" style=\"width: 40px;\">";
                            }
                            $str += "</td><td></td>";
                            $str += "<td></td>";
                            $str += "</tr>";

                            $("#IndicatorFormula_modify").append($str);
                        }
                    }else{
                        alert("请输入大于0的数值！");
                    }

                    count++;

                });

                $("#btn_save").bind("click", function(){
                    var x = "";
                    var b = "";
                    var k = "";
                    var x_list = document.getElementsByName("input_x");
                    var b_list = document.getElementsByName("input_b");     // y 表示偏置b
                    var k_list = document.getElementsByName("input_k");
                    var x_1_list = document.getElementsByName("input_x_1");

                    // console.log(x_list);
                    // console.log(b_list);
                    // console.log(k_list);
                    // console.log(x_1_list);

                    for (var i = 0; i < x_list.length; ++i)
                    {
                        // alert("ss");
                        if(!IsNum(x_list[i].value) || !IsNum(b_list[i].value) || !IsNum(x_1_list[i].value))
                        {
                            alert("请确认输入都为数字或者[Inf]表示无限大.");
                            return;
                        }

                        if(parseFloat(x_list[i]) > 1 || parseFloat(x_list[i]) < 0)
                        {
                            alert(x_list[i].id + "输入不合法。");
                            return;
                        }
                        if(parseFloat(b_list[i]) > 100 || parseFloat(x_list[i]) < 0)
                        {
                            alert(b_list[i].id + "输入不合法。");
                            return;
                        }
                    }

                    for (var i = 0; i < k_list.length; ++i)
                    {
                        if(!IsNum(k_list[i].value))
                        {
                            alert("请确认输入都为数字");
                            return;
                        }
                    }

                    var k_seq = 0;

                    for (var i = 0; i < x_list.length; ++i)
                    {
                        x = x + x_list[i].value + "_";
                        b = b + b_list[i].value + "_";
                        var sub_k = "";
                        for (var j = 0; j < line_num[i]; ++j)
                        {
                            sub_k = sub_k + k_list[k_seq + j].value + ";";
                            // console.log("k_seq: " + k_seq + j);
                        }
                        k_seq = k_seq + line_num[i];
                        sub_k = sub_k.substring(0, sub_k.length - 1);
                        k = k + sub_k + "_";
                    }

                    x = x + x_1_list[x_1_list.length - 1].value

                    // console.log(b_list[b_list.length - 1].value)
                    // console.log(x_list[x_list.length - 1].value)
                    // console.log()
                    // console.log(b);
                    b = b.substring(0, b.length - 1);
                    k = k.substring(0, k.length - 1);
                    // console.log(x);
                    // console.log(b);
                    // console.log(k);
                    // console.log(typeof(k));
                    post("", { x_Value: x, b_Value: b, k_Value: k });
                }); 
            });
</script>

<script>
{% if x_Value and k_Value and b_Value %}
$(function () {
    var x = "{{ x_Value }}", b = "{{ b_Value }}", k = "{{ k_Value }}";
    var i;
    var xValue = x.split("_");
    var bValue = b.split("_");
    var kValue = k.split("_");  // 未知量的系数
    // console.log(xValue);
    // console.log(bValue);
    // console.log(kValue);
    // console.log(parseFloat(xValue[2] * kValue[1]) + parseFloat(bValue[1]));
    // console.log();

    var data = new Array();
    // 判断线段的类型：
    // 1、只有直线
    // 2、有直线，又有曲线
    var has_curve = false;
    // 如果包含子串，则返回大于等于0的索引，否则返回-1
    
    for(var k = 0; k < kValue.length; k++){
        if(kValue[k].indexOf(";")>=0){
            has_curve = true;
            break;
        }
    }
    
    // has_curve == true 表示包含曲线
    if(has_curve == true){
        console.log("there is curve.");
        for(i = 0; i < bValue.length; i++){
            if((xValue[i+1]) && (xValue[i+1].toLowerCase() == "inf")){
                xValue[i+1] = 2 * xValue[i] + 40;
            }

            if(kValue[i].indexOf(";")>=0){
                // 曲线处理
                coefficient_list = kValue[i].split(";");
                var y_0 = 0;
                var y_1 = 0;
                var curve_points = new Array();  // 存储曲线多个点，此处设置10个点
                var curve_points_length = 30;
                // 初始化为0
                for(var k =0; k < curve_points_length; k++){
                    curve_points[k] = 0;
                }

                for(var k = 0; k < coefficient_list.length; k++){
                    // y_0 = y_0 + parseFloat(coefficient_list[k]) * Math.pow(xValue[i], parseInt( coefficient_list.length - k));
                    // y_1 = y_1 + parseFloat(coefficient_list[k]) * Math.pow(xValue[i + 1], parseInt( coefficient_list.length - k));

                    curve_points[0] = curve_points[0] + parseFloat(coefficient_list[k]) * Math.pow(xValue[i], parseInt(coefficient_list.length - k));

                    for(var t = 1; t < curve_points_length - 1; t++){
                        // 系数3表示倍数从4到1，中间差3个单位，即step_add的取值范围为[1,4]
                        // 实践证明：3这个系数的结果比较好，但是仍存在一定的局限性，比如：
                        // 1、当区间为[0,100]时，[0,25]区间的点比较稀疏，因为step_add的最大值为4，100/4=25导致取不到x=25之前的点。
                        var step_add = 1 + 3*(curve_points_length-1-t)/(curve_points_length-2);
                        // console.log(step_add);
                        curve_points[t] = curve_points[t] + parseFloat(coefficient_list[k]) * Math.pow(parseInt(xValue[i+1]/step_add), parseInt( coefficient_list.length - k));
                    }

                    curve_points[curve_points_length-1] = curve_points[curve_points_length-1] + parseFloat(coefficient_list[k]) * Math.pow(xValue[i+1], parseInt( coefficient_list.length - k));
                }
                // y_0 = y_0 + parseFloat(bValue[i]);
                // y_0 = y_0.toFixed(2);
                // data.push([parseFloat(xValue[i]), parseFloat(y_0)]);

                // y_1 = y_1 + parseFloat(bValue[i]);
                // y_1 = y_1.toFixed(2);
                // data.push([parseFloat(xValue[i+1]), parseFloat(y_1)]);
                
                curve_points[0] = (curve_points[0] + parseFloat(bValue[i])).toFixed(0);
                data.push([parseInt(xValue[i]), parseFloat(curve_points[0])]);
                console.log(curve_points[0]);

                for(var t = 1; t < curve_points_length-1; t++){
                    var step_add = 1 + 3*(curve_points_length-1-t)/(curve_points_length-2);
                    curve_points[t] = (curve_points[t] + parseFloat(bValue[i])).toFixed(2);
                    data.push([parseInt(xValue[i+1]/step_add), parseFloat(curve_points[t])]);
                }

                curve_points[curve_points_length-1] = (curve_points[curve_points_length-1] + parseFloat(bValue[i])).toFixed(0);
                data.push([parseInt(xValue[i+1]), parseFloat(curve_points[curve_points_length-1])]);


            }
            else{
                // 直线处理
                var y_0 = parseFloat((xValue[i]) * kValue[i]) + parseFloat(bValue[i]);
                y_0 = y_0.toFixed(2);
                data.push([parseFloat(xValue[i]), parseFloat(y_0)]);

                var y_1 = parseFloat((xValue[i+1]) * kValue[i]) + parseFloat(bValue[i]);
                y_1 = y_1.toFixed(0);
                data.push([parseFloat(xValue[i+1]), parseFloat(y_1)]);
            }
        }

        // LineContainer_test
        $('#LineContainer_test').highcharts({
            title: {
                text: ''
            },
            credits: {
                enabled: false
            },
            xAxis: {
                minorTickInterval: 1,
                tickInterval: 5,
            },
            yAxis: {
                title: {
                    text: null
                },
                tickInterval: 1
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br />',
                pointFormat: 'x = {point.x}, y = {point.y}'
            },
            series: [{
                name: '标准化得分',
                data: data,
                type: 'spline'
            }]
        });
    }else{
        console.log("there is only line.");
        for(i = 0; i < bValue.length; i++){
            if((xValue[i+1]) && (xValue[i+1].toLowerCase() == "inf")){
                xValue[i+1] = 2 * xValue[i] + 80;
            }

            // two points to form a line.
            // console.log("==================");
            var y_0 = parseFloat((xValue[i]) * kValue[i]) + parseFloat(bValue[i]);
            y_0 = y_0.toFixed(2);
            data.push([parseFloat(xValue[i]), parseFloat(y_0)]);
            // console.log(parseFloat(xValue[i]));
            // console.log(parseFloat(y_0));

            var y_1 = parseFloat((xValue[i+1]) * kValue[i]) + parseFloat(bValue[i]);
            y_1 = y_1.toFixed(2);
            data.push([parseFloat(xValue[i+1]), parseFloat(y_1)]);
            // console.log(parseFloat(xValue[i+1]));
            // console.log(parseFloat(y_1));
        }

        $('#LineContainer_test').highcharts({
            chart: {
                height:263, 
                backgroundColor: '#f0f0f0'
            },
            credits: {
                enabled: false
            },
            
            title: {
                text: ' '
            },
            
            xAxis: {
                minorTickInterval: 1,
                tickInterval: 5,
            },
            
            yAxis: {
                type: 'linear',
                minorTickInterval: 0.1,
                tickInterval: 5,
                title:{
                    enabled: false,
                    text: 'y值'
                }
            },

            legend: {
                layout: 'vertical',
                backgroundColor: '#f0f0f0',
                floating: true,
                align: 'left',
                x: 30,
                verticalAlign: 'top',
                y: 30
            },

            tooltip: {
                headerFormat: '<b>{series.name}</b><br />',
                pointFormat: 'x = {point.x}, y = {point.y}'
            },
            
            series: [{            
                data,
                pointStart: 0,
                name: '指标公式图',
            }]
        });
    }
});
{% endif %}
</script>
    </body>
</html>
